.footer{
  background-color: #C8CFD7;
  text-align: center;
  position: relative;
  padding: 50px 0;
}

.footer .social-footer ul{
  list-style-type: none;
  display: inline-block;
  margin: 0;
}

.footer .social-footer ul li{
  display: inline;
  margin-left: 30px;
  line-height: 36px;
}

.footer .social-footer ul li:first-child{
  margin: 0;
}

.footer .social-footer ul li a{
  text-decoration: none;
  color: #FFFFFF;
}

.footer .social-footer ul li a:hover{
  color: #85919F;
}

.social-footer{
  height: 36px;
  display: inline-flex;
  margin: 0 auto 50px auto;
}

.social-footer div{
  display: inline-block;
  margin-left: 30px;
}

.social-footer div a:nth-child(2n){
  margin: 0 10px;
}

.logos-footer svg:first-child{
  margin: 0 40px 0 0;
}

.home-active-footer a{
  color: #A9B4C0 !important
}

@media (max-width: 665px){

  .logos-footer a:first-child{
    display: none;
  }

  .footer{
    padding: 25px 0;
  }

  .footer .social-footer{
    margin: 0 auto 25px auto;
    padding: 0 30px;
    width: 100%;
    height: auto;
  }

  .footer .social-footer div{
    width: 36px;
  }

  .footer .social-footer div a:nth-child(2n){
    margin: 12px 0;
  }

  .footer .social-footer ul{
    width: 100%;
  }

  .logos-footer svg:first-child{
    margin: 0
  }

  .footer .social-footer ul li{
    margin: 0;
    text-align: left;
    display: block;
    line-height: 30px;
  }

}
