.container-top-ranked-list
  background-color: #FFFFFF
  .container-top-ranked-list-title
    margin: 0 0 1em 0

  .navigation
    margin-bottom: 1.5em
    .dropdown
      margin-right: 2em
    .buttons-navigation
      display: inline-block
      span
        margin-right: 2rem
        font-family: 'Adelle Sans W01 Bold'
        cursor: pointer
        color: #A9B4C0

.selected
  color: #405063 !important
  border-bottom: 5px solid #9BD331
