.container-barchart
  margin: 0
  .container-header
    padding: 1.9rem 1.9rem 1.9rem 1.9rem

.wrapper-container-chart
  height: calc(100% - 72px)
  display: flex
  .container-chart
    align-self: center

.legend
  text-align: center
  padding-bottom: 1rem
  .item
    display: inline-block
    margin-left: 1rem
    &:first-child
      margin: 0
    .figure
      display: inline-block
      margin-right: 0.5rem
      width: 10px
      height: 10px

.legend-expand
  margin-top: 3rem
  .item
    margin-left: 3rem

.economics
  background-color: #FC976D

.literature
  background-color: #DF6161

.history
  background-color: #FBD669

.english
  background-color: #85919F

.biology
  background-color: #B76AC4

.container-header-expand
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2)

.container-header
  border-bottom: 2px solid #F4F5F9

.expand-barchart
  position: fixed
  z-index: 20000
  top: 0
  left: 0
  right: 0
  bottom: 0
  border-radius: 0 !important
  margin: 0 !important

.noLanding
  flex-direction: row
  .unattributed-label
    display: none
  .right-content-expand-button
    display: none
  .titleNoLanding
    align-self: flex-start
    margin: 0 0 1.9rem 0
    font-size: 1.3em

.additional-info
  margin-left: auto

@media (min-width : 643px)
  .additional-info
    display: flex
    margin: 0
    .unattributed-label
      display: inline-block
      margin-right: 2rem
    div
      display: inline-block
    .right-content-expand-button
      margin-left: auto
      display: inline-block

  .noLanding
    flex-direction: column
    .titleNoLanding
      align-self: flex-start
      margin: 0 0 1.9rem 0
      font-size: 1.3em
