@font-face {
  font-family: "Adelle Sans W01 Regular";
  src: url("../fonts/7ff3a37e1e7b7ffa2fd8845f7351d0bc.eot"); /* IE9*/
  src: url("../fonts/7ff3a37e1e7b7ffa2fd8845f7351d0bc.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/7ff3a37e1e7b7ffa2fd8845f7351d0bc.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/7ff3a37e1e7b7ffa2fd8845f7351d0bc.woff") format("woff"), /* chrome、firefox */
  url("../fonts/7ff3a37e1e7b7ffa2fd8845f7351d0bc.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/7ff3a37e1e7b7ffa2fd8845f7351d0bc.svg#AdelleSansW01-Regular") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "Adelle Sans W01 Bold";
  src: url("../fonts/186081425f588a894cd7876472413453.eot"); /* IE9*/
  src: url("../fonts/186081425f588a894cd7876472413453.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/186081425f588a894cd7876472413453.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/186081425f588a894cd7876472413453.woff") format("woff"), /* chrome、firefox */
  url("../fonts/186081425f588a894cd7876472413453.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/186081425f588a894cd7876472413453.svg#AdelleSansW01-Bold") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "Adelle Sans W01 SemiBold";
  src: url("../fonts/5e7aff76d1dc425b15ad9e364074e5e2.eot"); /* IE9*/
  src: url("../fonts/5e7aff76d1dc425b15ad9e364074e5e2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/5e7aff76d1dc425b15ad9e364074e5e2.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/5e7aff76d1dc425b15ad9e364074e5e2.woff") format("woff"), /* chrome、firefox */
  url("../fonts/5e7aff76d1dc425b15ad9e364074e5e2.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/5e7aff76d1dc425b15ad9e364074e5e2.svg#AdelleSansW01-SemiBold") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "Adelle Sans W01 Italic";
  src: url("../fonts/5a756f3aa8aefd19b0eda8519770223b.eot"); /* IE9*/
  src: url("../fonts/5a756f3aa8aefd19b0eda8519770223b.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/5a756f3aa8aefd19b0eda8519770223b.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/5a756f3aa8aefd19b0eda8519770223b.woff") format("woff"), /* chrome、firefox */
  url("../fonts/5a756f3aa8aefd19b0eda8519770223b.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/5a756f3aa8aefd19b0eda8519770223b.svg#Adelle Sans W01 Italic") format("svg"); /* iOS 4.1- */
}
