.landing-title
  margin: 3em 0
  p
    font-size: 2em
    width: 48%
    text-align: center
    margin: 0 auto
    color: #FFFFFF
    span
      color: #9BD331


.landing-content
  margin-top: 4rem
  .left-content
    background-color: #FFFFFF
  .right-content
    .container-network-graph
      margin-top: 4rem
.tooltip-wrapper
  position: absolute
  top: -35px
  left: -50px
  .tooltip
    width: 100px
    text-align: center
    position: relative
    .tooltip-content
      background-color: #405063
      padding: 0.5rem
      border-radius: 5px
      .tooltip-content-field
        display: block
      .tooltip-content-syllabi
        color: #FFFFFF
    .tooltip-tail
      display: inline-block
      position: absolute
      left: 44px
      width: 0
      height: 0
      border-right: 7px solid transparent
      border-bottom: 7px solid transparent
      border-left: 7px solid transparent
      border-top: 7px solid #405063



@media (max-width : 414px)
  .landing-title
    margin: 8.1em 0 4.1em 0
    p
      width: 59%
      font-size: 1.4em

@media (max-width : 340px)
  .landing-title
    p
      width: 68%


@media (min-width : 414px)
  .landing-title
    p
      width: 80%
  .landing-content
    .left-content
      border-radius: 5px

@media (min-width : 485px)
  .landing-title
    p
      width: 64%




@media (min-width : 643px)
  .landing-title
    p
      width: 51%

@media (min-width : 800px)
  .landing-title
    p
      width: 44.6%

@media (min-width: 926px)
  .landing-title
    p
      width: 35%

@media (min-width: 1139px)
  .landing-title
    p
      width: 48%
  .landing-content
    .left-content
      display: inline-block
      width: 48%
    .right-content
      float: right
      width: 48%
      .container-network-graph
        margin-top: 0
      .container-map
        margin: 0 0 4rem 0

@media (min-width: 1250px)
  .landing-title
    p
      width: 44%
