.btnRegular
  background-color: #C8CFD7
  width: 104px
  height: 34px
  color: #FFFFFF
  line-height: 34px
  display: inline-block
  border-radius: 5px
  text-align: center
  cursor: pointer
  &:hover
    background-color: #FBD669
    border: none
    color: #FFFFFF
