.btnSearch
  width: 60px
  height: 44px
  background-color: #9BD331
  border-radius: 5px
  text-align: center
  display: inline-block
  line-height: 44px
  font-size: 1.1em
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  span
    display: none
    color: #FFFFFF
    font-size: 0.9em

@media (min-width: 600px)
  .btnSearch
    width: 165px
    span
      display: inline-block
      margin-left: 1em
