.logged-container
  background-color: #F6F6FA
  .view
    position: relative
    top: 0
    background-color: #FFFFFF
    padding: 1em 1.4em 0.8em 1.4em

@media (min-width : 1024px)
  .logged-container
    .view
      top: -14.1em
      border-radius: 5px
      padding: 2.8em 3.5em 2em 3.5em
