.filter
  width: 100%
  .search
    display: flex
    margin: 0
    position: relative
    .search-input-content
      width: 100%
      margin-right: 1em
      input
        margin: 0
        height: 44px
        width: 100%
        font-size: 1.1em
        padding: 6px 13px
        &:focus
          border: 1px solid #9BD331
        &::placeholder
          color: #B7C1CC
    div
      margin-left: auto


.show-select-menu
  display: block !important
