
.parallax-header
  background-image: url('parallax_landing.png')
  background-color: #F6F6FA
  min-height: 37em
  width: 130%
  border-radius: 0 0 100% 100%
  position: relative
  left: -15%

.header-landing
  overflow: hidden

.header
  background-image: url('parallax.jpg')
  background-color: #F6F6FA
  min-height: 17em


.main-layout
  background-color: #FFFFFF
  min-height: 50em


.main-layout
  section
    top: -22em
    position: relative
    width: 100%

.navbar-fixed
  background-color: #F6F6FA
  padding: 2.5em 0 0 0
  position: fixed
  left: 0
  width: 100%
  z-index: 10000
  background-image: url('parallax_landing.png')
  -webkit-transition: all 0.4s ease
   transition: all 0.4s ease

.shrink
  padding: 2rem 0

@media (max-width : 414px)
  .header-landing
    min-height: 20em

  .main-layout
    .huge-container
      width: 100%
      padding: 0
    section
      top: -19.8em

@media (min-width : 643px)
  .shrink
    padding: 1rem 0
