.container-barchart
  margin: 0

.wrapper-container-chart
  height: calc(100% - 72px)
  display: flex
  .container-chart
    align-self: center

.legend
  text-align: center
  padding-bottom: 1rem
  .item
    display: inline-block
    margin-left: 1rem
    &:first-child
      margin: 0
    .figure
      display: inline-block
      margin-right: 0.5rem
      width: 10px
      height: 10px

.legend-expand
  margin-top: 3rem
  .item
    margin-left: 3rem

.economics
  background-color: #67AAF9

.literature
  background-color: #F7A3EB

.history
  background-color: #FBD669

.english
  background-color: #B76AC4

.biology
  background-color: #B8E986

.container-header-expand
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2)

.container-header
  border-bottom: 2px solid #F4F5F9

.expand-barchart
  position: fixed
  z-index: 1000
  top: 0
  left: 0
  right: 0
  bottom: 0
  border-radius: 0 !important
  margin: 0 !important
